<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="style.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.0.0/umd/react.production.min.js" integrity="sha256-3lmw1FBKoDUME3df7Jt4hZ8+2oPeoh1g3e2Yu3hm1Uo=" crossorigin="anonymous"></script>  <script src="_script.js"></script>
  <script src="_pouchdb.js"></script>
  <script src="_reactTemplates.js"></script>
</head>